<div class="row header">
  <div class="col-4 header__logo">
    <img
      src="./../../../assets/moviezonelogo.png"
      alt="The movie zone!"
      (click)="goHome()"
    />
  </div>
  <div class="col-8 header__search">
    <div class="row">
      <div
        class="col-md-6 col-12 d-flex align-items-center justify-content-center"
      >
        <app-text-input
          [placeholder]="'Find your movie...'"
          (value)="populateQuery($event)"
          (keyup.enter)="handleSearch()"
        ></app-text-input>
      </div>
      <div
        class="col-md-6 col-12 d-flex align-items-center justify-content-center"
      >
        <app-button
          [label]="'Search'"
          [iconString]="'bx bx-search-alt'"
          (buttonClick)="handleSearch()"
        ></app-button>
      </div>
    </div>
  </div>
</div>
